<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sumera.koreactor"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:name=".App"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".ui.feature.main.MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.feature.counter.CounterActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity
			android:name=".ui.feature.infinity.InfinityActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity
			android:name=".ui.feature.todo.ToDoActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity
			android:name=".ui.feature.simpleloading.SimpleLoadingActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity
			android:name=".ui.feature.timer.activity.TimerActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
	</application>

</manifest>